body {
    background-image: url("web_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: dashed;
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 15px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #201a0ebd; /* Web sayfasının arka plan rengi */
    color: #ffffff; /* Metin rengi */
}

h1{
    color: #000000; /* Başlık rengi */
    font-size: 40px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

h1:hover {
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0%   { color: blue; }
  50%  { color: red; }
  100% { color: blue; }
}
