<!DOCTYPE html>
<html>
<head>
    <title>Teknoloji bağımlılığı</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Teknoloji bağımlılığı</h1>
    <p>Bu, bir kişinin belirli teknolojiler ve cihazlar olmadan yapamadığı bir bağımlılık türüdür.
    Bu teknolojilere olan aşırı bağımlılık kişinin fonksiyonel yeteneklerini önemli ölçüde köreltebilir. Bu da yaşam kalitesi üzerinde ciddi olumsuz etkilere neden olabilir.</p>
    <h2>En yaygın teknoloji bağımlılıklarının bir listesi:</h2>
             <ul>
                   <li>Oyunlar ve çevrimiçi eğlence</li>
                   <li>Sosyal medya ve mesajlaşma</li>
                   <li>Yapay Zeka Teknolojileri</li>
                   <li>İnternet alışverişi ve çevrimiçi alışveriş</li>
             </ul>
     <img src="sad_computer.jpeg" alt="Image1">
    <iframe src="https://www.meteoblue.com/tr/hava/widget/daily/ip_romanya_675514?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=0&precipitation=1&precipitationprobability=1&spot=1&pressure=0&layout=light"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px; height: 420px"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/tr/hava/hafta/ip_romanya_675514" target="_blank" rel="noopener">meteoblue</a></div>
    


     <p>Teknoloji bağımlılığıyla nasıl mücadele edebiliriz? Teknoloji bagimliligi kotu bir sey bu yuzden insanlarin bunu durdurmalarina yardim ederse daha az kisi daha az teknolojiye bakabilir. Teknolojiyi durdurmak icin yapabilecigemiz seyler:</p>
             <ul>
                    <li>İnternet ve cihazlarınızda geçirdiğiniz zamanı sınırlayın.</li>
                    <li>Teknoloji kullanımı dışında çeşitli ilgi alanları ve aktiviteler edinin.</li>
                    <li>Sosyal medya ve mesajlaşma uygulamalarına olan bağımlılığınızı azaltmak için çevrenizle bağlantı kurmanın yeni yollarını arayın.</li>
                    <li>Mümkünse, bilgisayar başında geçirdiğiniz çalışma süresini sınırlayın ve mola verin. Bu, gözlerinizdeki stresi azaltacak ve bir sonraki çalışma oturumuna geçmeden zihninizin boşalmasına yardımcı olacaktır.</li>
                    <li>Mümkün olduğunda, teknolojiden uzak geçireceğiniz zaman dilimleri ayarlayarak rahatlamak ve gevşemek için fırsat yaratın.</li>
                    <li>Teknoloji daha bilinçli kullanmaya çalışın. Arada bir kendinize şu soruyu sorun: Teknolojiye çok mu bağımlı hale geliyorum?</li>
             </ul>

</body>
</html>

    <link rel="stylesheet" href="style.css">
